<div class="header">
  <div id="title">
    <h1>Blog Title</h1>
  </div>
  <div id="nav-bar">
    {{#link-to 'index'}}Home{{/link-to}} . {{#link-to 'contact'}}Contact Us{{/link-to}} . {{#link-to 'about'}}About Us{{/link-to}}
  </div>
</div>
{{outlet}}
