<div class="post-block">
  <div class="posts">

    {{#each model.posts as |post|}}
      {{post-tile post=post}}
    {{/each}}

  </div>
  <div class="newPost">
    {{new-post savePost="savePost"}}
  </div>
</div>
